@font-face {
    font-family: 'Song Myung', serif;
}

.title{
    font-family: 'Song Myung', serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    flex-direction: center;
    color: mediumpurple;
    border-color: indigo;
    border: 5px;
    height: 75px;
    border-style: solid;
    background-color:lightyellow;
    font-size: 3em;
}
main{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 10px;
}
*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Cafe24Ohsquareair';
    min-width: 320px;
}

body{
    padding: 10px;
}

.left{
    font-family: 'Song Myung', serif;
    display: flex;
    flex-shrink: 0;
    list-style-type: none;
    border-style: solid;
    border-color:purple;
    background-color:linen;
    flex-direction: column;
    font-size: 25px;
    width: 120px;
}


.content{
    font-family: 'Song Myung', serif;
    display: flex;
    flex-direction:row;
    flex: 1;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 5px;
    margin-left: 15px;
    border-style: solid;
    border-color:rgb(29, 27, 28);
    align-content: flex-start;
    background-color: beige;
    overflow-y: scroll;
}

.cafe{
    display: flex;
    border-radius: 15%;
    flex-flow: column nowrap;
    background-color: pink;
    margin: 25px 0;
}

@media (max-width: 1024px){
    .cafe{
        background-color:rgb(189, 112, 112);
    }
}
@media (max-width: 767px){
    .cafe{
        background-color:rgb(235, 255, 181);
    }
}